APP_TITLE=Аналитический агент учебных материалов
APP_HOST=127.0.0.1
APP_PORT=8050
APP_REFRESH_MS=60000
APP_OPEN_BROWSER=1
APP_SECRET_KEY=chempionat-module-b-secret

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=module_b
DB_USER=root
DB_PASSWORD=1234
